.symbolic-accent-bg {
    color: @accent_bg_color;
}

.size-20-font {
    font-size: 20px;
}

.rounded-all-25 {
    border-radius: 25px;
}

.round-all-scroll {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
}

.round-all-scroll-no-padding {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.no-round-borders {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.background-accent-bg {
    background: @accent_bg_color;
    border-radius: 10px;
    padding: 5px;
}

.background-green-bg {
    background: green;
    border-radius: 10px;
    padding: 5px;
}

.background-red-bg {
    background: #ff2a03;
    border-radius: 10px;
    padding: 5px;
}

.round-border-only-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.round-border-only-bottom {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.destructive-color-text {
    color: @destructive_bg_color;
}

.success-color-text {
    color: @success_bg_color;
}

.size-20-bold-text {
    font-weight: 800;
    font-size: 20px;
}

.disable-outline {
    outline: none;
}