[Desktop Entry]
Name=Pikman Update Manager
Exec=pikman-update-manager
Icon=com.github.pikaos-linux.pikmanupdatemanager
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;
StartupNotify=true
